/* * {
  outline: 3px solid black;
} */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: lightblue;
}
header {
  background-color: whitesmoke;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(187, 16, 16);
}

h1 {
  color: black;
  padding: 1em;
  margin: 0;
  text-align: center;
}

h3,
ul,
p {
  color: black;
}

p {
  padding: 10px;
  font-size: large;
}

main {
  width: 50%;
  margin: auto;
  margin-top: auto;
}
